* {
    box-sizing: border-box;
}

img {
    max-width: 25rem;
}

header {
    display: flex;
    justify-content: center;
    background-color: gray;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
}

.discountPrice {
    color: red;
    font-weight: bold;
}

.formerPrice {
    text-decoration: line-through;
    font-weight: bold;
}

.newPrice {
    font-weight: bold;
}